.header {
  display: flex;
  justify-content: center;
  align-items: center;
}
.header-container {
  margin: 0 auto;
  color: var(--text-color);
  background-color: var(--background-color-2);
  border: 1px solid var(--secondary-color);
  border-radius: 30px;
  padding: 13px 30px;
  position: fixed;
  z-index: 10;
}
.header-list {
  display: flex;
  gap: 40px;
  list-style: none;
}

@media (max-width: 768px) {
  .header {
    margin-top: -3rem;
    margin-bottom: 3rem;
  }
  .header-item p {
    display: none;
    transition: all 2s ease-in-out;
  }
}

@media (min-width: 769px) {
  .header-item .header-icon {
    display: none;
    transition: all 2s ease-in-out;
  }
}
